.transaction-history {
  width: 300px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 15px;

  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border: solid 10px rgb(176, 216, 223);
}
