.transaction-history {
  width: 500px;
  background-color: rgb(176, 216, 223);
  border: 1px solid grgb(176, 216, 223);
  text-align: center;
  margin: auto;
}

th {
  border: 1px solid grgb(176, 216, 223);

  font-weight: 600;
  font-size: 15px;
  padding: 5px 0 5px 0;
}
td {
  border: 1px solid grgb(176, 216, 223);
  font-weight: 300;
  font-size: 13px;
  padding: 5px 0 5px 0;
}
